[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=jenkins
Group=www-data
WorkingDirectory=/home/jenkins/userSystem/base
ExecStart=/home/jenkins/userSystem/myvenv/bin/gunicorn --access-logfile - --workers 3  --bind unix:/home/jenkins/userSystem/base/base.sock base.wsgi:application


[Install]
WantedBy=multi-user.target
