server {
    listen 8000;
    server_name _;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /home/jenkins/adminSystem/base;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/jenkins/adminSystem/base/base.sock;
    }
}
